<style>
  

  @media screen and (max-width: 600px) {
    .align-butterbrod {
      margin-top: 6px;
    }
  }


  
</style>

<header class="site-header site-header-mod " role="banner">

  <div class="wrapper topper">
    {% assign default_paths = site.pages | sort:"order" | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <div class="logo">
      <a class="site-title" href="{{ "/" | relative_url }}">Roman Lomovtsev</a>
      <div class="motto">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-network" >
      
      <a href="https://github.com/coutvv" title="My github account">
        <i class="icon icon-github"></i>
      </a>
      <!-- <a href="https://stackoverflow.com/users/5783034/coutvv">
        <i class="icon icon-stack"></i>
      </a> -->
      <a href="https://www.linkedin.com/in/roman-lomovtsev-14b915b7/" title="My LinkedIn">
        <i class="icon icon-linkedin"></i>
      </a>
      <a href="https://twitter.com/alzuask" title="Hey! It's my twitter">
        <i class="icon icon-twitter"></i>
      </a>
      <!-- <a href="https://www.youtube.com/user/coutvv0/videos?shelf_id=0&view=0&sort=dd&disable_polymer=true">
        <i class="icon icon-youtube"></i>
      </a> -->
      <!-- <a href="https://twitter.com/alzuask">
        <i class="icon icon-insta"></i>
      </a> -->
    </div>
    
  </div>
  <div class="action-bar wrapper">
    {% if page_paths %}
      <div class="site-nav-mod">
<!--        <a class="page-link" href="{{site.url}}/blog">Blog</a>-->
        <a class="page-link" href="{{site.url}}/">About</a>
        
      </div>
    {% endif %}
    <div class="search-field">
      
      <!-- <input type="checkbox" id="nav-trigger" class="nav-trigger" /> -->
      <div class="trigger">
        <!-- <input placeholder="Search..."></input> -->
        <form action="https://google.com/search" method="get">
          <input type="hidden" name="sitesearch" value="http://coutvv.github.io" />
          <input type="text" name="q" placeholder="Search..." class="search-string"/>
          <label class="search-button hide-submit">
              <input type="submit" />
              <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Blog-Contrast-Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile" transform="translate(-285.000000, -58.000000)" stroke="#FDFDFD" stroke-width="2">
                        <g id="Header" transform="translate(10.000000, 6.000000)">
                            <g id="Navigation" transform="translate(0.000000, 44.000000)">
                                <path d="M285,21 C281.686292,21 279,18.3137085 279,15 C279,11.6862915 281.686292,9 285,9 C288.313708,9 291,11.6862915 291,15 C291,18.3137085 288.313708,21 285,21 Z M280.5,19.5 L275.972307,24.0276926 L280.5,19.5 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
          </label>
        </form>
          
      </div>
    </div>
  </div>
</header>
