@charset "utf-8";

@use 'sass:color';
// Define defaults for each variable.

@use 'minima/variables' as *;
@use 'minima/base' as *;
@use 'minima/layout' as *;
@use 'minima/syntax-highlighting' as *;
@use 'minima/addition' as *;

.logo {
  font-family: AppleMyungjo;
  margin-left: 4px;
}
.site-title {
  font-size: 21pt;
  letter-spacing: normal;
  line-height: 44px;
}

a.site-title {
  text-decoration: none;
}

.motto {
  font-size: 12.1pt;
  color: #828282;
  position:absolute;
  top:26px;
}

.action-bar {
  background: #222222;
  color: white;
  height: 32px;
  padding-left: 0;
  padding-right: 0;
}

.site-header-mod {
  border-top: 0px solid #424242;
  border: none;
}

.topper {
  height: 50px;
  overflow: hidden;
}

.site-nav-mod a.page-link {
  color: white;
  font-weight: 100;
  text-decoration: underline;
  margin-right: 10px;
}


.site-nav-mod {
  line-height: 32px;
  float: left;
  margin-left: 6px;
}

.search-field {
  float: right;
  line-height: normal;
  margin-top: 6px;
  margin-right: 6px;
  height: 20px;
  font: 400 13.3333px Arial;
}

.search-field > form {
  height: 20px;
}
input.search-string {
  height: 20px;
}