---
layout: default
title: Blog
paginate: true
blog: true
order: 2
---
<style>

  .post-meta {
    padding: 2px 5px;
    color: white;
    background: #222;
    float: right;
    min-width: 95px;
    text-align: center;
  }
</style>
<div class="home">
  <ul class="post-list">
    {% assign posts = paginator.posts | where: "layout", "post"  %}
    {% for post in posts %}
        <li>
          <div class="post-preview">
            <a href="{{ post.url | relative_url }}">
              <div class="preview-full-container">
                {% if post.previewPicture %}
                  <img src="{{ site.url }}{{ post.previewPicture }}" class="post-icon">
                {% else %}
                  {% if post.picture %}
                    <img src="{{ site.url }}{{ post.picture }}" class="post-icon">
                  {% else %}
                    <img src="/resources/default_post_inv.jpg" class="post-icon">
                  {% endif %}
                {% endif %}
              </div>
              <h2 class="header-post">
                <div class="post-link">{{ post.title | escape }}</div>
              </h2>
            </a>
            <div class="post-preview-text">
              <p>{{ post.preview }}</p>
            </div>
          </div>

          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta post-meta-data">{{ post.date | date: date_format }}</span>
          {% if post.location %}
          <span class="post-meta">{{ post.location}} </span>
          {% endif %}
        </li>
    {% endfor %}
  </ul>

</div>
