---
layout: default
---
<style>
  .post-preview {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }

  .post-icon {
    float: right;
    max-width: 100px;
    max-height: 100px;
  }

</style>
<div class="home">

  {{ content }}
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-preview">
          {% if post.picture %}
            <img src="{{ site.url }}{{ post.picture }}" class="post-icon">
          {% endif %}
          {{ post.preview | escape }}
        </div>

      </li>
    {% endfor %}
  </ul>


</div>