---
layout: default
---
<article class="post">
    {% unless page.hideheader %}
      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>

      </header>
    {% endunless %}

    <div class="post-picture-imp">peks</div>
  <div class="post-content">
    {{ content }}
  </div>
</article>

<style>
  .post-picture-imp {
    background-image: url({{page.postPicture}});
    width: 100%;
    height: 320px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
  }
</style>