---
layout: default
---
<style>
    .left_panel {
        float: left; 
        width: 30%; 
        height: 100%; 
        text-align: center;
    }
    .content-mod {
        float: left;
        width: 70%;
    }
    .ava {
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 600px) {
        .left_panel {
          float: none;
          width: 100%;
        }
        .content-mod {
          width: 100%;
        }
    }
    .icon-bottom-logo {    
        background-position: -105px -81px;
        margin: auto;
    }
    .bottom-logo-container {
        top: 31px;
    }
</style>
<article class="post">

    {{ content }}
    
    
</article>